parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: config/updates.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: src/PackageBuildCommand.php

		-
			message: '#^Property InstallerToolkit\\PackageBuildCommand\:\:\$config type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageBuildCommand.php

		-
			message: '#^Property InstallerToolkit\\PackageBuildCommand\:\:\$excludeDirs type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageBuildCommand.php

		-
			message: '#^Property InstallerToolkit\\PackageBuildCommand\:\:\$excludePublicFiles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageBuildCommand.php

		-
			message: '#^Property InstallerToolkit\\PackageBuildCommand\:\:\$excludeStoragePaths type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageBuildCommand.php

		-
			message: '#^Property InstallerToolkit\\PackageBuildCommand\:\:\$includeRootFiles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageBuildCommand.php

		-
			message: '#^Property InstallerToolkit\\PackageBuildCommand\:\:\$includeStorageFiles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageBuildCommand.php

		-
			message: '#^Property InstallerToolkit\\PackageSandboxCommand\:\:\$config type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageSandboxCommand.php

		-
			message: '#^Method InstallerToolkit\\PackageTestCommand\:\:mysqlCredentials\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageTestCommand.php

		-
			message: '#^Method InstallerToolkit\\PackageTestCommand\:\:postStep\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageTestCommand.php

		-
			message: '#^Property InstallerToolkit\\PackageTestCommand\:\:\$config type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PackageTestCommand.php

		-
			message: '#^Variable \$location on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/PackageTestCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$is_admin\.$#'
			identifier: property.notFound
			count: 1
			path: src/Update/UpdateAuthorizer.php
